*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* header */
 .header-class{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1464565/pexels-photo-1464565.jpeg?cs=srgb&dl=pexels-helena-lopes-1464565.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 nav{
    background-color: #2e0047;
    position: sticky;
    top: 0;

 }
 nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
 }
 nav li{
    height: 50px;
 }
 .logo span{
    color: red;
    font-size: 50px;
 }
 .logo a{
   font-weight: 900;
   font-size: 20px;
   font-family: Impact;
 }
 nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
 } 
 nav a:hover{
    color: red;
    transition: all .5s;
 }
 nav li:first-child{
    margin-right: auto;
 }
 /* sidebar */
 .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2e0047c5;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .sidebar li {
    width: 100%; 
 }
 .sidebar li a {
    width: 100%;
 }
.menuBar{
    display: none;
}
 /* sidebar */

 @media screen and (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menuBar{
        display: block;
    }
 }
 @media screen and (max-width: 400px){
    .sidebar {
        width: 100%;
    }
 }
 /* header */
/* top con */
.header-content{
    height: 93%;
    background-color:rgba(0, 0, 0, 0.529);
    display: flex;
    text-align: center;
    color: aliceblue;
    flex-direction: column;
    z-index: -1000;
 }
 .header-content h1{
    margin-top: 7rem;
    font-size: 70px;
 }
 .header-content button{
   padding: 15px 20px;
   margin-top: 1rem;
   font-size: 17px;
   border: none;
   outline: none;
   border-radius: 5px;
 }
 .header-content button:hover{color: red; transition: all 1s;}
 .header-content .red{
  background-color: #2e0047;
  color: aliceblue;
 }
 .header-content div{
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 5rem;
 }
 .header-content .arrow-down{
   font-size: 40px;
   color: red;
   margin-top: 3rem;
   width: fit-content;
   height:fit-content;
   align-self: center;
 }
 @media screen and (max-width: 700px){
   .header-content h1{
      margin-top: 7rem;
      font-size: 50px;
   }
   .logo span{
      color: red;
      font-size: 20px;
   }
   .logo a{
     font-weight: 900;
     font-size: 15px;
     font-family: Impact;
   }
 }
@media screen and (max-width: 440px){
   .header-content h1{
      font-size: 30px;
   }
}
/* top con */

/* ==========ABOUT HERO============== */
.about-block{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 .5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   line-height: 2rem;
}
.about-author{
   background-color: #a1a0a047;
   max-width: 60%;
   padding: 0 .5rem;
   padding-bottom: 1rem;
  
}
.about-author img{
   width: 40%;
}
.about-author h2{
   font-size: 40px;
   margin-bottom: 1rem;
   padding: 1rem;
   color: #2e0047;
   line-height: 3rem;
}
.about-author .col-1{
   display: flex;
   gap: 1rem;
}
.socials{
   margin-top: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.socials .about-btn button{
   padding: 15px 15px;
   background-color: #2e0047;
   color: white;
   outline: none;
   border: none;
   border-radius: 5px;
   font-size: 17px;
}
.socials .about-btn button:hover{
   background-color: transparent;
   color: red;
   transition: all .5s;
}
.socials div a{
   width: 50px;
   height: 50px;
   font-size: 30px;
   margin-left: 1rem;
}
/* ============= */
.fa-facebook{
   color: blue;
}
.fa-whatsapp{
   color: rgb(0, 255, 0);
   
}
.fa-instagram{
   color: red;

}
.fa-snapchat{
   color: black;
   background-color: rgb(255, 255, 5);
   border-radius: 50%;

}
.about-block .pop-card{
   display: flex;
   margin-bottom: 1rem;
   gap: 1rem;
}
.about-block .pop-card div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.about-block .pop-card div span{
   color: #2e0047;
   font-size: 15px;
   font-weight: 800;
}
.about-block .pop-card img{
   width: 150px;
   height: 90px;
   object-fit: cover;
   display: block;
}
.pop-card a{
   color: #2e0047;
   font-size: 17px;
   text-decoration: none;
   font-weight: 400;
}
.pop-card a:hover{
   color: red;
   transition: all .5s;
}
.popular-posts{
   background-color: #a1a0a047;
   padding: 0 1rem;
   line-height: 1.5rem;
}
.popular-posts h2{
   margin: 1rem 0;
   font-size: 30px;
}

.about-block-wrapper{
   width: 100%;
   max-width: 1500px;
   display: flex;
   justify-content: space-around;
   gap: 2rem;
}
@media screen and (max-width: 900px){
   .popular-posts{
      display: none;
   }
   .about-author{
      max-width: 100%;
   }
}
@media screen and (max-width: 600px){
   .col-1{
      flex-direction: column;
   }
   .about-author img{
      width: 100%;
   }
}
@media screen  and (max-width: 450px){
   .socials{
      flex-direction: column;
      gap: 1rem;
   }
   .about-author h2{
      font-size: 25px;
      margin-bottom: 1rem;
      color: #2e0047;
      line-height: 2rem;
   }
   .col-1 p{
      font-size: 14px;
   }
}
/* ============= */
/* ==========ABOUT HERO============== */