*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* header */
 .header-class{
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1464565/pexels-photo-1464565.jpeg?cs=srgb&dl=pexels-helena-lopes-1464565.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 header{
   position: sticky;
   top: 0;
   z-index: 1000;
 }
 nav{
    background-color: #2e0047;
    position: sticky;
    top: 0;
    z-index: 1000;

 }
 nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
 }
 nav li{
    height: 50px;
 }
 .logo span{
    color: red;
    font-size: 50px;
 }
 .logo a{
   font-weight: 900;
   font-size: 20px;
   font-family: Impact;
 }
 nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
 } 
 nav a:hover{
    color: red;
    transition: all .5s;
 }
 nav li:first-child{
    margin-right: auto;
 }
 /* sidebar */
 .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #2e0047c5;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .sidebar li {
    width: 100%; 
 }
 .sidebar li a {
    width: 100%;
 }
.menuBar{
    display: none;
}
 /* sidebar */

 @media screen and (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menuBar{
        display: block;
    }
 }
 @media screen and (max-width: 400px){
    .sidebar {
        width: 100%;
    }
 }
 /* header */
/* top con */
.header-content{
    height: 93%;
    background-color:rgba(0, 0, 0, 0.529);
    display: flex;
    text-align: center;
    color: aliceblue;
    flex-direction: column;
    z-index: -1000;
 }
 .header-content h1{
    margin-top: 7rem;
    font-size: 70px;
 }
 .header-content button{
   padding: 15px 20px;
   margin-top: 1rem;
   font-size: 17px;
   border: none;
   outline: none;
   border-radius: 5px;
 }
 .header-content button:hover{color: red; transition: all 1s;}
 .header-content .red{
  background-color: #2e0047;
  color: aliceblue;
 }
 .header-content div{
   display: flex;
   width: 100%;
   justify-content: center;
   gap: 5rem;
 }
 .header-content .arrow-down{
   font-size: 40px;
   color: red;
   margin-top: 3rem;
   width: fit-content;
   height:fit-content;
   align-self: center;
 }
 @media screen and (max-width: 700px){
   .header-content h1{
      margin-top: 7rem;
      font-size: 50px;
   }
   .logo span{
      color: red;
      font-size: 20px;
   }
   .logo a{
     font-weight: 900;
     font-size: 15px;
     font-family: Impact;
   }
 }
@media screen and (max-width: 440px){
   .header-content h1{
      font-size: 30px;
   }
}
/* top con */

/* ==========ABOUT HERO============== */
.about-block{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 .5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   line-height: 2rem;
}
.about-author{
   background-color: #a1a0a047;
   max-width: 60%;
   padding: 0 .5rem;
   padding-bottom: 1rem;
  
}
.about-author img{
   width: 40%;
}
.about-author h2{
   font-size: 40px;
   margin-bottom: 1rem;
   padding: 1rem;
   color: #2e0047;
   line-height: 3rem;
}
.about-author .col-1{
   display: flex;
   gap: 1rem;
}
.socials{
   margin-top: 1rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.socials .about-btn button{
   padding: 15px 15px;
   background-color: #2e0047;
   color: white;
   outline: none;
   border: none;
   border-radius: 5px;
   font-size: 17px;
}
.socials .about-btn button:hover{
   background-color: transparent;
   color: red;
   transition: all .5s;
}
.socials div a{
   width: 50px;
   height: 50px;
   font-size: 30px;
   margin-left: 1rem;
}
/* ============= */
.fa-facebook{
   color: blue;
}
.fa-whatsapp{
   color: rgb(0, 255, 0);
   
}
.fa-instagram{
   color: red;

}
.fa-snapchat{
   color: black;
   background-color: rgb(255, 255, 5);
   border-radius: 50%;

}
.about-block .pop-card{
   display: flex;
   margin-bottom: 1rem;
   gap: 1rem;
}
.about-block .pop-card div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.about-block .pop-card div span{
   color: #2e0047;
   font-size: 15px;
   font-weight: 800;
}
.about-block .pop-card img{
   width: 150px;
   height: 90px;
   object-fit: cover;
   display: block;
}
.pop-card a{
   color: #2e0047;
   font-size: 17px;
   text-decoration: none;
   font-weight: 400;
}
.pop-card a:hover{
   color: red;
   transition: all .5s;
}
.popular-posts{
   background-color: #a1a0a047;
   padding: 0 1rem;
   line-height: 1.5rem;
}
.popular-posts h2{
   margin: 1rem 0;
   font-size: 30px;
}

.about-block-wrapper{
   width: 100%;
   max-width: 1500px;
   display: flex;
   justify-content: space-around;
   gap: 2rem;
}
@media screen and (max-width: 900px){
   .popular-posts{
      display: none;
   }
   .about-author{
      max-width: 100%;
   }
}
@media screen and (max-width: 600px){
   .col-1{
      flex-direction: column;
   }
   .about-author img{
      width: 100%;
   }
}
@media screen  and (max-width: 450px){
   .socials{
      flex-direction: column;
      gap: 1rem;
   }
   .about-author h2{
      font-size: 25px;
      margin-bottom: 1rem;
      color: #2e0047;
      line-height: 2rem;
   }
   .col-1 p{
      font-size: 14px;
   }
}
/* ============= */
/* ==========ABOUT HERO============== */

/* ==========POSTs============== */
.post-block{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.filter-block{
   max-width: 1500px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.filter-block h2{
   text-align: center;
   font-size: 40px;
   margin: 1rem 0;
   padding-bottom: .5rem;
   color: #2e0047;
   border-bottom: 5px solid #2e0047;
   width: fit-content;
}
.filter-block ul{
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   margin-bottom: 1rem;
   flex-wrap: wrap;
}
.filter-block li{
   padding: 15px 20px;
   border: 1px solid black;
   cursor: pointer;
   font-size: 17px;
   background-color: #2e0047;
   color: white;
}
.filter-block li:hover{
   background-color: transparent;
   color: red;
   border-color: #2e0047;
   transition: all 1s;
}
.post{
   display: flex;
   flex-direction: column;
   color: black;
   width: 300px;
   background-color: rgba(213, 216, 216, 0.454);
   padding: .4rem;
  padding-bottom: 1rem;
}
.post img{
   width: 100%;
}
.post div{
   display: flex;
   justify-content: space-between;
   margin-top: .4rem;
}
.post a{
   color: #2e0047;
   font-size: 19px;
   padding: .2rem;
   text-decoration: none;
}
.post a:hover{
   color: red;
   transition: all .5s;
}
.post div p{
   color: #2e0047;
}
.post p{
   color: black;
   line-height: 1.5rem;
   font-size: 15px;
}
.post p a{
   font-size: 15px;
}
.posts-sec{
   margin: 0 1rem;
   width: 100%;
   max-width: 1500px;
   margin-bottom: 1rem;
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
@media screen and (max-width: 650px){
   .posts-sec{
      grid-template-columns: repeat(auto-fill, 290px);
     
   }
}
@media screen and (max-width: 650px){
   .posts-sec{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .post{
      width: 90%;
   }
   .post p{
      line-height: 2rem;
   }
}
/* ==========POSTS============== */

/* ==========POLPULAR POST BLOCK============== */
.popular-block{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.popular-block h2{
   text-align: center;
   font-size: 40px;
   margin: 1rem 0;
   padding-bottom: .5rem;
   color: #2e0047;
   border-bottom: 5px solid #2e0047;
   width: fit-content;
}
.popular-post{
   max-width: 60%;
   padding: 1rem;
   display: flex;
   flex-direction: column;
}
.popular-post img{
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.popular-post .profile{
   display: flex;
   align-items: center;
   gap: 1rem;
   margin-bottom: 1rem;
   background-color: #a1a0a047;
   padding: 1rem;
}
.popular-post .profile p{
   font-size: 13px;
}
.popular-post .profile img{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   object-fit: cover;
}
.popular-post h2{
   font-size: 30px;
   border: none;
   text-align: left;
}
.popular-post .post-intro{
   line-height: 2rem;
   margin-bottom: 1rem;
}
.popular-post strong{
   font-size: 20px;
   margin-left: 1rem;
   margin-top: 1rem;
   padding-bottom: 1rem;
   align-self: flex-start;
}
.p-1{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}
.popular-post .p-1 img{
   display: block;
   width: 100%;
   height: 200px;
   object-fit: cover;
   justify-content: center;
   margin-bottom: 1rem;
}
.p-1 li{
   margin-left: 1rem;
   line-height: 2rem;
   align-self: flex-start;
}
.p-1 span{
   color: #2e0047;
}
.p-1 .ex{
   margin-top: 1rem;
   color: #2e0047;
   text-align: center;
}
.p-1 .quote{
   color: red;
   font-size: 20px;
}
 .conc {
   line-height: 1.5rem;
   margin: 1rem 0;
   text-align: center;
}
@media screen and (max-width: 700px){
   .popular-post strong{
      font-size: 20px;
      margin-left: 0rem;
      margin-top: 1rem;
      padding-bottom: 1rem;
      align-self: flex-start;
   }
}
/* ==========POLPULAR POST BLOCK============== */

/* ========SIDEBAR */
.aside{
   /* background-color: #a1a0a047; */
   padding: 1rem;
   margin-right: 1rem;
   margin-left: 1rem;
   align-self: flex-start;
   width: 40%;
}
.recent-block{
   background-color: #a1a0a047;
   padding: 1rem;
}
.row-1-card{
   display: flex;
   gap: 1rem;
   margin-bottom: 1rem;
}
.row-1-card img{
   width: 150px;
   height: 100px;
   object-fit: cover;
   display: block;
}
.row-1-card div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.row-1-card div .mdw{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.popular-wrapper{
   display: flex;
   flex-direction: row;
   width: 100%;
   max-width: 1400px;
   gap: 1rem;
}
.row-1 h3{
   font-size: 30px;
   margin: 1rem 0;
   color: #2e0047;
}
.row-1-card div a{
   text-decoration: none;
   color: #2e0047;
}
.row-1-card div a:hover{
   color: red;
   transition: all .5s;
}
@media screen and (max-width: 800px) {
   .popular-wrapper{
      flex-direction: column;
   }
   .popular-post{
      max-width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
   }
   .aside {
      margin: 0;
      width: 100%;
   }
}
@media screen and (max-width: 400px) {
   .row-1-card div a{
      font-size: 14px;
   }
}

/* cat */
.cat-block{
   background-color: #a1a0a047;
   padding: 1rem;
   margin-top: 2rem;
}
.cat-block h2{
   font-size: 30px;
   color: #3b3b3b;
   border-bottom: 2px solid black;
   width: 70%;
   text-align: left;
}
.cat-block ul{
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}
.cat-block li{
   padding: 10px 10px;
   background-color: rgba(128, 128, 128, 0.698);
   border-radius: 20px;
}
/* cat */
/* arrchive */
.archive-block{
   margin-top: 2rem;
   background-color: #a1a0a047;
   padding: 1rem;
}
.archive-block h2{
   margin-top: 2rem;
   font-size: 30px;
   color: #3b3b3b;
   border-bottom: 2px solid black;
   width: 70%;
   text-align: left;
}
.archive-block ul{
   margin-left: 1rem;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}
.archive-block li{
   padding: 10px 10px;
   border-radius: 10px;
}
.archive-block li a{
   text-decoration: none;
   color: #2e0047;
   font-size: 20px;
}
.archive-block li a:hover{
   color: red;
   transition: all 1s;
}
/* archive */
@media screen and (max-width: 500px){
   .archive-block li a{
      text-decoration: none;
      color: #2e0047;
      font-size: 15px;
   }
   .archive-block{
      margin-top: 2rem;
      background-color: #a1a0a047;
      padding: 1rem;
   }
   .aside{
      /* background-color: #a1a0a047; */
      padding: 0;
      margin: 0 .4rem;
      align-self: flex-start;
   }
}
/* recent posts */
.recent-block{
   margin-top: 2rem;
}
.recent-post{
   width: 100%;
   height: 250px;
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   flex-direction: column;
   gap: 1.5rem;
   padding: 2rem;
   color: white;
   background-color: #2e004783;
}
.recent-overlay{
   width: 100%;
   height: 250px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 1rem;
}
.recent-post a button{
   padding: 15px 20px;
   font-size: 15px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: red;
   color: beige;
   font-weight: 900;
}
.recent-post a button:hover{
   background-color: #2e0047;
   transition: all 1s ease-in-out;
   color: red;
}
.recent-post p{
   font-size: 19px;
}
/* recent posts */

/* aside logo */
.aside-logo{
   text-align: center;
   margin-top: 3rem;
}
.aside-logo h1 span {
   color: red;
   font-size: 70px;
}
.aside-logo h1 {
   font-size: 40px;
}
/* aside logo */
/* ========SIDEBAR */